.text-big {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
}

.long-url-input {
  height: 75px;
}

.shorten-button {
  height: 75px;
  font-size: 26px;
  background-color: #368EAA;
  color: #fff;
}

.short-url-input {
  height: 50px;
}

.copy-button {
  height: 50px;
  font-size: 22px;
  background-color: #512F89;
  color: #fff;
}
